<div class="left">
  
  <div>
    <input type="text" placeholder="Create a Channel" [(ngModel)]='u_name' />
  </div><br/>
  <div>
    <button (click)='channelcall()'>Create Channel</button>
  </div><br/>
  <div>
    <input type ="text" placeholder="Search a Channel" [(ngModel)]=ForSearch/>
  </div>
  <div>
    <button (click)='allchannelcall(ForSearch)'>Search Chnnel</button>
  </div>
</div><br/>
<div class="right">
  <div class="textarea">

    
    Listing Old Messages:
    <ul>
      <li *ngFor='let msg of message'>{{msg.body}}
        from:{{msg.from}}
      </li>
    </ul>
  
  <input type="text" placeholder="type a message" [(ngModel)]='msg' />
  <button (click)='messagecall()'>Send Message</button>
  </div>
  
</div>